.headerContainer {
  background: var(--white);
  height: 6.5rem;

  display: flex;
  align-items: center;
  //obs:. vertical(y) - horizontal(x)
  padding: 2rem 4rem;

  border-bottom: 1px solid var(--gray-100);

  p {
    margin-left: 2rem;

    //obs:. cima - direita - baixo - esquerda
    padding: 0.25rem 0 0.25rem 2rem;

    border-left: 1px solid var(--gray-100);
  }

  span {
    //faz automaticamente uma margem à esquerda com todo o espaço disponível
    margin-left: auto;

    text-transform: capitalize;
  }
}
